<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.innovate.APITest.Tests.Test1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC010_APIResponse_Validation_mainpressure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC023_APIResponse_Validation_syssunrise</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC024_APIResponse_Validation_syssunset</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC021_APIResponse_Validation_sysmessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC006_APIResponse_Validation_Weatherdescription</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC016_APIResponse_Validation_winddeg</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC017_APIResponse_Validation_cloudsall</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC008_APIResponse_Validation_Weatherbase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC011_APIResponse_Validation_mainhumidity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC002_APIResponse_Validation_CoordLon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC019_APIResponse_Validation_systype</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC003_APIResponse_Validation_CoordLat</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC026_APIResponse_Validation_sysname</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC015_APIResponse_Validation_windspeed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC001_APIResponse_Validation_NotNull</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC005_APIResponse_Validation_Weathermain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC018_APIResponse_Validation_cloudsdt</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC007_APIResponse_Validation_Weathericon</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC009_APIResponse_Validation_maintemp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC022_APIResponse_Validation_syscountry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC013_APIResponse_Validation_maintemp_max</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC014_APIResponse_Validation_mainvisibility</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC025_APIResponse_Validation_sysid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC020_APIResponse_Validation_sysid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC004_APIResponse_Validation_Weatherid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC027_APIResponse_Validation_syscod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC012_APIResponse_Validation_maintemp_min</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basesetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
