<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC001_APIResponse_Validation_NotNull()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC001_APIResponse_Validation_NotNull</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:24</td>   <td>702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC002_APIResponse_Validation_CoordLon()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC002_APIResponse_Validation_CoordLon</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:25</td>   <td>1915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC003_APIResponse_Validation_CoordLat()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC003_APIResponse_Validation_CoordLat</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:26</td>   <td>2618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC004_APIResponse_Validation_Weatherid()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC004_APIResponse_Validation_Weatherid</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:27</td>   <td>3308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC005_APIResponse_Validation_Weathermain()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC005_APIResponse_Validation_Weathermain</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:27</td>   <td>4015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC006_APIResponse_Validation_Weatherdescription()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC006_APIResponse_Validation_Weatherdescription</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:28</td>   <td>4707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC007_APIResponse_Validation_Weathericon()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC007_APIResponse_Validation_Weathericon</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:29</td>   <td>5395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC008_APIResponse_Validation_Weatherbase()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC008_APIResponse_Validation_Weatherbase</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:29</td>   <td>6089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC009_APIResponse_Validation_maintemp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC009_APIResponse_Validation_maintemp</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:30</td>   <td>6754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC010_APIResponse_Validation_mainpressure()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC010_APIResponse_Validation_mainpressure</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:31</td>   <td>7450</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC011_APIResponse_Validation_mainhumidity()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC011_APIResponse_Validation_mainhumidity</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:32</td>   <td>8281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC012_APIResponse_Validation_maintemp_min()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC012_APIResponse_Validation_maintemp_min</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:32</td>   <td>8934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC013_APIResponse_Validation_maintemp_max()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC013_APIResponse_Validation_maintemp_max</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:33</td>   <td>9636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC014_APIResponse_Validation_mainvisibility()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC014_APIResponse_Validation_mainvisibility</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:34</td>   <td>10293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC015_APIResponse_Validation_windspeed()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC015_APIResponse_Validation_windspeed</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:34</td>   <td>10945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC016_APIResponse_Validation_winddeg()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC016_APIResponse_Validation_winddeg</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:35</td>   <td>11655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC017_APIResponse_Validation_cloudsall()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC017_APIResponse_Validation_cloudsall</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:36</td>   <td>12302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC018_APIResponse_Validation_cloudsdt()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC018_APIResponse_Validation_cloudsdt</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:36</td>   <td>12960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC019_APIResponse_Validation_systype()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC019_APIResponse_Validation_systype</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:37</td>   <td>13598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC020_APIResponse_Validation_sysid()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC020_APIResponse_Validation_sysid</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:38</td>   <td>14235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC021_APIResponse_Validation_sysmessage()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC021_APIResponse_Validation_sysmessage</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:38</td>   <td>14850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC022_APIResponse_Validation_syscountry()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC022_APIResponse_Validation_syscountry</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:39</td>   <td>15480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC023_APIResponse_Validation_syssunrise()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC023_APIResponse_Validation_syssunrise</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:39</td>   <td>16143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC024_APIResponse_Validation_syssunset()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC024_APIResponse_Validation_syssunset</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:40</td>   <td>16814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC025_APIResponse_Validation_sysid()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC025_APIResponse_Validation_sysid</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:41</td>   <td>17503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC026_APIResponse_Validation_sysname()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC026_APIResponse_Validation_sysname</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:42</td>   <td>18209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.TC027_APIResponse_Validation_syscod()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">TC027_APIResponse_Validation_syscod</td> 
  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:42</td>   <td>18451</td> <td title="&lt;&lt;Test1.afterClass()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>19/09/10 20:18:21</td>   <td>-1978</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestAPI.basesetup()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;basesetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:21</td>   <td>-2292</td> <td title="&gt;&gt;Test1.extrepInit()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;extrepInit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:21</td>   <td>-1948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:23</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:25</td>   <td>1252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:25</td>   <td>1973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:26</td>   <td>2660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:27</td>   <td>3354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:27</td>   <td>4054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:28</td>   <td>4737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:29</td>   <td>5427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:29</td>   <td>6126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:30</td>   <td>6780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:31</td>   <td>7472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:32</td>   <td>8303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:32</td>   <td>8962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:33</td>   <td>9659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:34</td>   <td>10315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:34</td>   <td>10965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:35</td>   <td>11674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:36</td>   <td>12329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:36</td>   <td>12984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:37</td>   <td>13642</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:38</td>   <td>14260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:38</td>   <td>14867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:39</td>   <td>15500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:39</td>   <td>16162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:40</td>   <td>16829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>19/09/10 20:18:41</td>   <td>17519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.setUp()[pri:0, instance:com.innovate.APITest.Tests.Test1@506e6d5e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1810132623</td>   <td></td> </tr>
</table>
